/* src/styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
 background-color: grey;
}

.ant-card .ant-card-head {
  background-color: lightgrey;
}

.ant-input {
  background: lightgrey;
}